 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.head{
    width: 100%;
    height: 7vh;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    width: 100%;
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.name,.email{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.name label,.email label,.category label{
    font-size: 17px;
    font-weight: 600;
}
.name input,.email input{
    padding: 8px 20px;
    border: 1px solid rgb(148, 145, 145);
    outline: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
}
.form button{
    width: 7%;
    text-align: center;
    padding: 8px 20px;
    font-weight: 600;
    border: none;
    background: rgb(75, 118, 228);
    color: #fff;
    cursor: pointer;

}
.category{
    width: 100%;
}
.category select{
    width: 100%;
    padding: 8px 20px;
    border: 1px solid rgb(148, 145, 145);
    outline: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    
}
.category-item{
    padding: 2% 5%;
    display: flex;
    gap: 20px;
    justify-content: end;
}
.category-item p{
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;

}
.list_container{
    width: 100%;
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.list_container li{
    list-style: none;
    display: flex;
    border: 2px solid grey;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 17px;
}
.list_container span{
    text-align: start;
}
 

.btn1{
    padding: 5px 10px;
    border: 5px;
    border: 1px solid red;
    color: red;
    background: transparent;
    cursor: pointer;
}